node_modules
dist
tsconfig.build.tsbuildinfo
tsconfig.tsbuildinfo
.env
docker-compose.yml
yarn-error.log
docker-compose.*
!!docker-compose.yml.example
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
