version: '3.2'

services:
  backend:
    #image: ghcr.io/riddea/backend:latest
    image: quay.io/riddea/backend
    restart: always
    env_file:
      - .env
    depends_on:
      - bot
    ports:
      - 3000:3000
