version: '3.2'

services:
  migrator:
    image: quay.io/riddea/migrator
    command: yarn migration:run
    env_file:
      - .env

  bot:
    #image: docker.pkg.github.com/riddea/bot/nightly:latest
    image: quay.io/riddea/bot
    restart: always
    env_file:
      - .env
    command: node apps/bot/dist/app.js
    depends_on: 
     - migrator

  api:
    #image: docker.pkg.github.com/riddea/api/nightly:latest
    image: quay.io/riddea/api
    restart: always
    env_file:
      - .env
    depends_on:
      - bot
    command: node apps/api/dist/main.js
    ports:
      - 3000:3000
