version: '3.2'

services:
  migrator:
    image: quay.io/riddea/riddea
    command: yarn migration:run
    env_file:
      - .env

  bot:
    #image: docker.pkg.github.com/riddea/riddea/nightly:latest
    image: quay.io/riddea/riddea
    restart: always
    env_file:
      - .env
    command: yarn start:bot
    depends_on: 
     - migrator

  api:
    #image: docker.pkg.github.com/riddea/riddea/nightly:latest
    image: quay.io/riddea/riddea
    restart: always
    env_file:
      - .env
    depends_on:
      - bot
    command: yarn start:api
    ports:
      - 3000:3000
